body {
    margin: 0px;
    height; 100%
    width; 100%
    padding: 0px;
    background-color:#4cbceb;
    font-family: 'Open Sans', Arial;
}
p,div {
	margin: 0px 0px 0px 0px
} 
h1 {
    font-size: 40px;
    text-align: center;
}
#Music {
	
}
#container {
    /*background-image: url('http://www.html5canvastutorials.com/demos/assets/map-background.png');*/
    height: auto;
    width: 100%;
    background-position: 1px 1px;
    /*background-image:url("background.png");*/
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position:fixed;
}
      
#countriesDiv {
    overflow:scroll;
    height:200px;
}

#map {
	position:absolute;
	z-index: inherit;
	
}
.selectedCell {
    background-color:blue;
    color:white;
}
#headingbackground {
	background-color:#4cbceb;
	
}
#small{
font-size: 11px;
}

